@model Models.Views.Auction.Application

@{
    ViewData["Title"] = "Application Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-area col-sm-9">
    <div class="detail-block">
        <h1 class="text-center">Application Detail</h1>
        <div class="auction-block">
            <div class="row">
                <div class="col-md-8">
                    <div class="field-holder">
                        <label class="col-md-4">Category</label>
                        <div class="input-holder">
                            @Html.DisplayFor(x => x.SeriesCategory)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="field-holder">
                        <label class="col-md-4">Series</label>
                        <div class="input-holder">
                            @Html.DisplayFor(x => x.Series)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="field-holder">
                        <label class="col-md-4">Registration Mark</label>
                        <div class="input-holder">
                            @Html.DisplayFor(x => x.SeriesNumber)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="field-holder">
                        <label class="col-md-4">Reserved Price</label>
                        <div class="input-holder">
                            @Html.DisplayFor(x => x.ReservePrice)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="field-holder">
                        <label class="col-md-4">AIN</label>
                        <div class="input-holder">
                            @Html.DisplayFor(x => x.AIN)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="field-holder">
                        <label class="col-md-4">Chassis Number</label>
                        <div class="input-holder">
                            @Html.DisplayFor(x => x.ChasisNumber)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="field-holder">
                        <label class="col-md-4">Owner Name</label>
                        <div class="input-holder">
                            @Html.DisplayFor(x => x.OwnerName)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="field-holder">
                        <label class="col-md-4">Status</label>
                        <div class="input-holder">
                            @Html.DisplayFor(x => x.ApplicationStatus)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="field-holder">
                        <label class="col-md-4">PSID</label>
                        <div class="input-holder">
                            @Model.PSId
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="field-holder">
                        <label class="col-md-4">Payment Status</label>
                        <div class="input-holder">
                            @{ var paymentStatus = Model.PaymentStatusId == 0 ? "Un-paid" : "Paid"; }
                            @paymentStatus
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="field-holder">
                        <label class="col-md-4">Paid On</label>
                        <div class="input-holder">
                            @{ var paidOn = Model.PaidOn.HasValue  ? Model.PaidOn.Value.ToString() : string.Empty; }
                            @paidOn
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="row">
                <table class="registration-table add other">
                    <tr>
                        <th></th>
                        <th>Status</th>
                        <th>Dated</th>
                        <th>Comments</th>
                    </tr>
                    @{
                        int rowNum = 0;
                    }
                    @foreach (var item in Model.ApplicationStatusHistory)
                    {
                        <tr>
                            <td>@{ rowNum++; } @rowNum</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ApplicationStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comments)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
